.container {
  display: flex;
}

.left {
  flex-grow: 1;
  width: 250px;
}

.left_upper {
  height: 250px;
  overflow-y: scroll;

}

.middle {
  flex-grow: 2;
}

.right {
  //flex-grow: 1;
  width: 220px;
}

.stage_item {
  padding: 5px 5px;
}

.stage_li {
  list-style-type: none;
  text-align: left;
  color: #4F4F4F;
}

ul li:hover {
  font-weight: 600;
  color: #add8e6;
  cursor: pointer;
}

ul {
  margin-block-start: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

.sub_title {
  background-color: rgb(235,235,235);
  text-align: center;
  padding: 6px;
  font-weight: bold;
  //border: 1px solid red;
}

.step_info {
  white-space: pre;
  text-align: left;
  height: 220px;
  width: 100%;
  overflow-y: scroll;
}

.sub_list {

}

.sub_item {
  height: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.sub_item_menu {
  top: 22px;
  left: 0;
  position: absolute;
  background-color: rgb(246, 248, 246);
  z-index: 100;
  width: 220px;
  overflow-y: scroll;
  max-height: 180px;
  border-style: solid;
  border-width: 1px;
}

.sub_item_menu_item {
  padding: 5px;
  cursor: pointer;
}

.sub_item_menu_item:hover {
  background-color: #eee;
}
