.dropzoneBox {
  /* 
  background: #fff;
  */
  display: inline-block;
  justify-content: space-around;
  width: 30%;
  padding: 20px;
}

.buttonBox {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.dropareaBox {
  /* 
background: #fff;
*/
  display: flex;
  justify-content: space-around;
  position: relative;

}
.wrapper {
  position: relative;

}
.loading {
  position: absolute;
  top: 5px;
  left: 71px;
}
.loadingBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
